html{
    background-color: whitesmoke;
    font-family: 'Arial', sans-serif;
    margin: 0;
    position: absolute;
    font-family: 'Arial', sans-serif;
    margin-top: 3rem;
    margin-left: 5rem;
    margin-right: 5rem;
}